In [3]:
#!/usr/bin/env python
import databaseconfig as cfg
from sqlalchemy import create_engine

engine = create_engine('postgresql://'+cfg.postgres["user"]+':'+cfg.postgres["passwd"]+'@'+cfg.postgres["host"]+':5432/'+cfg.postgres["db_name"])

In [4]:
engine.execute('SELECT * FROM "Employees" LIMIT 5').fetchall()

[(473302, 's0001', '7/25/53', 'Hideyuki', 'Zallocco', 'M', datetime.date(1990, 4, 28)),
 (475053, 'e0002', '11/18/54', 'Byong', 'Delgrande', 'F', datetime.date(1991, 9, 7)),
 (57444, 'e0002', '1/30/58', 'Berry', 'Babb', 'F', datetime.date(1992, 3, 21)),
 (421786, 's0001', '9/28/57', 'Xiong', 'Verhoeff', 'M', datetime.date(1987, 11, 26)),
 (282238, 'e0003', '10/28/52', 'Abdelkader', 'Baumann', 'F', datetime.date(1991, 1, 18))]